<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/materialize.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title> StudentApp | {% block title %}  {% endblock %} </title>
        {% block extrahead %} {% endblock %}
    </head>
    <body>
        {% block extrabody %}
        {% endblock %}
        <div class="flex-container">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>